@charset "UTF-8";
@font-face {
  font-family: 'HKGrotesk-Medium';
  src: url("../fonts/HKGrotesk-Medium.woff2") format("woff2"), url("../fonts/HKGrotesk-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'HKGrotesk-Bold';
  src: url("../fonts/HKGrotesk-Bold.woff2") format("woff2"), url("../fonts/HKGrotesk-Bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

* {
  box-sizing: border-box;
  outline: none;
}

body {
  font-family: 'Open Sans', sans-serif;
  background-color: #FFFFFF;
  color: #183B56;
}

img {
  object-fit: cover;
}

.container {
  max-width: 1280px;
  margin: auto;
}

.title {
  margin: 0;
  font-family: 'HKGrotesk-Bold';
  font-style: normal;
  font-weight: bold;
  font-size: 48px;
  line-height: 60px;
  letter-spacing: 0.2px;
}

.label {
  display: inline-block;
  padding: 6px 16px;
  background: rgba(54, 179, 126, 0.1);
  border-radius: 2000px;
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 20px;
  color: #36B37E;
  text-transform: uppercase;
}

/*! normalize.css v8.0.1 | MIT License | github.com/necolas/normalize.css */
/* Document
   ========================================================================== */
/**
 * 1. Correct the line height in all browsers.
 * 2. Prevent adjustments of font size after orientation changes in iOS.
 */
html {
  line-height: 1.15;
  /* 1 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
}

/* Sections
   ========================================================================== */
/**
 * Remove the margin in all browsers.
 */
body {
  margin: 0;
}

/**
 * Render the `main` element consistently in IE.
 */
main {
  display: block;
}

/**
 * Correct the font size and margin on `h1` elements within `section` and
 * `article` contexts in Chrome, Firefox, and Safari.
 */
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

/* Grouping content
   ========================================================================== */
/**
 * 1. Add the correct box sizing in Firefox.
 * 2. Show the overflow in Edge and IE.
 */
hr {
  box-sizing: content-box;
  /* 1 */
  height: 0;
  /* 1 */
  overflow: visible;
  /* 2 */
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
pre {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}

/* Text-level semantics
   ========================================================================== */
/**
 * Remove the gray background on active links in IE 10.
 */
a {
  background-color: transparent;
}

/**
 * 1. Remove the bottom border in Chrome 57-
 * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
 */
abbr[title] {
  border-bottom: none;
  /* 1 */
  text-decoration: underline;
  /* 2 */
  text-decoration: underline dotted;
  /* 2 */
}

/**
 * Add the correct font weight in Chrome, Edge, and Safari.
 */
b,
strong {
  font-weight: bolder;
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
code,
kbd,
samp {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}

/**
 * Add the correct font size in all browsers.
 */
small {
  font-size: 80%;
}

/**
 * Prevent `sub` and `sup` elements from affecting the line height in
 * all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/* Embedded content
   ========================================================================== */
/**
 * Remove the border on images inside links in IE 10.
 */
img {
  border-style: none;
}

/* Forms
   ========================================================================== */
/**
 * 1. Change the font styles in all browsers.
 * 2. Remove the margin in Firefox and Safari.
 */
button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  /* 1 */
  font-size: 100%;
  /* 1 */
  line-height: 1.15;
  /* 1 */
  margin: 0;
  /* 2 */
}

/**
 * Show the overflow in IE.
 * 1. Show the overflow in Edge.
 */
button,
input {
  /* 1 */
  overflow: visible;
}

/**
 * Remove the inheritance of text transform in Edge, Firefox, and IE.
 * 1. Remove the inheritance of text transform in Firefox.
 */
button,
select {
  /* 1 */
  text-transform: none;
}

/**
 * Correct the inability to style clickable types in iOS and Safari.
 */
button,
[type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
}

/**
 * Remove the inner border and padding in Firefox.
 */
button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

/**
 * Restore the focus styles unset by the previous rule.
 */
button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

/**
 * Correct the padding in Firefox.
 */
fieldset {
  padding: 0.35em 0.75em 0.625em;
}

/**
 * 1. Correct the text wrapping in Edge and IE.
 * 2. Correct the color inheritance from `fieldset` elements in IE.
 * 3. Remove the padding so developers are not caught out when they zero out
 *    `fieldset` elements in all browsers.
 */
legend {
  box-sizing: border-box;
  /* 1 */
  color: inherit;
  /* 2 */
  display: table;
  /* 1 */
  max-width: 100%;
  /* 1 */
  padding: 0;
  /* 3 */
  white-space: normal;
  /* 1 */
}

/**
 * Add the correct vertical alignment in Chrome, Firefox, and Opera.
 */
progress {
  vertical-align: baseline;
}

/**
 * Remove the default vertical scrollbar in IE 10+.
 */
textarea {
  overflow: auto;
}

/**
 * 1. Add the correct box sizing in IE 10.
 * 2. Remove the padding in IE 10.
 */
[type="checkbox"],
[type="radio"] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */
}

/**
 * Correct the cursor style of increment and decrement buttons in Chrome.
 */
[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto;
}

/**
 * 1. Correct the odd appearance in Chrome and Safari.
 * 2. Correct the outline style in Safari.
 */
[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */
}

/**
 * Remove the inner padding in Chrome and Safari on macOS.
 */
[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
 * 1. Correct the inability to style clickable types in iOS and Safari.
 * 2. Change font properties to `inherit` in Safari.
 */
::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */
}

/* Interactive
   ========================================================================== */
/*
 * Add the correct display in Edge, IE 10+, and Firefox.
 */
details {
  display: block;
}

/*
 * Add the correct display in all browsers.
 */
summary {
  display: list-item;
}

/* Misc
   ========================================================================== */
/**
 * Add the correct display in IE 10+.
 */
template {
  display: none;
}

/**
 * Add the correct display in IE 10.
 */
[hidden] {
  display: none;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 26px 70px;
}

.navbar-wrapper {
  display: flex;
  align-items: center;
}

.navbar-menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 506px;
  padding: 0;
  list-style-type: none;
}

.navbar-menu__link {
  text-decoration: none;
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 22px;
  color: #183B56;
}

.navbar-menu__link:hover {
  color: #1565D8;
}

.navbar__button {
  padding: 11px 22px;
  margin-left: 50px;
  border: 2px solid #1565D8;
  filter: drop-shadow(0px 10px 25px rgba(21, 37, 72, 0.1));
  border-radius: 8px;
  background: transparent;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 22px;
  color: #1565D8;
  cursor: pointer;
}

.menu {
  /* анимация верхней полоски */
}

.menu-button {
  display: none;
}

.first {
  transform: translate(4px, 0) rotate(45deg);
  transform-origin: left top;
}

/* анимация средней полоски */
.middle {
  display: none;
}

/* анимация нижней полоски */
.last {
  transform: translate(-2px, -17px) rotate(-45deg);
  transform-origin: right bottom;
}

.hero {
  padding-top: 36px;
  padding-bottom: 57px;
}

.hero-wrapper {
  padding: 62px 0 46px 107px;
  background: url(../img/hero-bg.jpg) no-repeat;
  background-position: center center;
  background-size: cover;
  border-radius: 8px;
  overflow: hidden;
}

.hero__label {
  margin-bottom: 28px;
}

.hero__title {
  margin: 0;
  margin-bottom: 28px;
  font-family: 'HKGrotesk-Bold';
  font-style: normal;
  font-weight: bold;
  font-size: 56px;
  line-height: 68px;
  letter-spacing: 0.2px;
}

.hero__description {
  margin: 0;
  margin-bottom: 52.5px;
  max-width: 652px;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 36px;
}

.hero__button {
  padding: 15px 40px;
  margin-bottom: 48.5px;
  border: none;
  border-radius: 8px;
  background-color: #183B56;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 25px;
  color: #fff;
}

.hero__items {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

.hero__item {
  display: flex;
  align-items: center;
  margin-right: 31px;
}

.hero__icon {
  margin-right: 8px;
  width: 36px;
  height: 36px;
}

.hero__text {
  font-family: 'HKGrotesk-Medium';
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  align-self: center;
}

.collection {
  padding-top: 60px;
  padding-bottom: 75px;
}

.collection-wrapper {
  display: flex;
  justify-content: space-between;
  padding: 0 70px;
  margin: 0;
}

.collection__gallery {
  display: flex;
  max-width: 670px;
  max-height: 490px;
  margin: 0;
}

.collection__image {
  max-width: 320px;
  max-height: 230px;
  border-radius: 8px;
  overflow: hidden;
}

.collection__image--big {
  max-width: 320px;
  max-height: 490px;
  margin-right: 30px;
}

.collection__images {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.collection__text {
  margin-left: 57px;
}

.collection__title {
  margin-top: 10px;
  margin-bottom: 24px;
}

.collection__description {
  max-width: 392px;
  margin: 0;
  margin-bottom: 40px;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 36px;
  color: #5A7184;
}

.collection__link {
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 25px;
  text-decoration: none;
  color: #1565D8;
  cursor: pointer;
}

.collection__icon {
  margin-left: 16px;
}

.trends {
  padding-top: 70px;
  padding-bottom: 75px;
}

.trends-wrapper {
  display: flex;
  justify-content: space-between;
  padding: 0 70px 48px 75px;
  margin: 0;
}

.trends-tabs {
  display: flex;
  justify-content: space-between;
  width: 285px;
  list-style-type: none;
  padding: 0;
}

.trends-tabs__item {
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 25px;
  color: #5A7184;
  cursor: pointer;
}

.trends-tabs__item:first-child {
  margin-left: 0px;
}

.trends-tabs__item:hover {
  color: #183B56;
}

.trends-tabs__item--active {
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 25px;
  color: #183B56;
}

.trends__content {
  display: none;
  padding: 0 70px 0 75px;
}

.trends__content--active {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  grid-column-gap: 30px;
  grid-row-gap: 50px;
  grid-template-areas: "Minimalist Luxury Full Pinky" "Holiday Swaggie Red Last";
}

.trends__card {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  width: 260px;
  max-height: 441px;
}

.trends__card:nth-child(1) {
  grid-area: Minimalist;
}

.trends__card:nth-child(2) {
  grid-area: Luxury;
}

.trends__card:nth-child(3) {
  grid-area: Full;
}

.trends__card:nth-child(4) {
  grid-area: Pinky;
}

.trends__card:nth-child(5) {
  grid-area: Holiday;
}

.trends__card:nth-child(6) {
  grid-area: Swaggie;
}

.trends__card:nth-child(7) {
  grid-area: Red;
}

.trends__card:last-child {
  grid-area: Last;
  display: flex;
  flex-direction: column;
  width: 260px;
  max-height: 350px;
  border-radius: 8px;
  overflow: hidden;
  background-color: #1565D8;
  text-align: center;
}

.trends__image {
  width: 260px;
  height: 350px;
  margin-bottom: 20px;
  border-radius: 8px;
  overflow: hidden;
}

.trends__description {
  padding-left: 10px;
  margin-bottom: 3px;
  font-family: 'HKGrotesk-Bold';
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 32px;
  letter-spacing: 0.2px;
}

.trends__description--last {
  padding-left: 0px;
  margin-bottom: 0px;
  text-align: center;
  color: #fff;
}

.trends__buy {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 10px;
}

.trends__price {
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 36px;
  color: #5A7184;
}

.trends__icon {
  width: 23px;
  height: 32px;
  object-fit: contain;
}

.trends__plus {
  margin-top: 120px;
  margin-bottom: 21px;
  width: 28px;
  height: 37px;
  object-fit: contain;
}

.trends__link {
  text-align: center;
}

.reviews {
  padding-top: 70px;
  padding-bottom: 80px;
}

.reviews-slider {
  max-width: 800px;
  margin: 0 auto;
}

.reviews-slider__quote {
  display: block;
  margin: 0 auto;
  margin-bottom: 24px;
}

.reviews-slider__icon {
  display: block;
  margin: 0 auto;
  width: 80px;
  height: 92px;
  object-fit: contain;
}

.reviews-slider__text {
  margin: 0;
  margin-bottom: 28px;
  font-family: 'HKGrotesk-Medium';
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 42px;
  text-align: center;
  letter-spacing: 0.133333px;
}

.reviews-slider__name {
  margin: 0;
  font-family: 'HKGrotesk-Bold';
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 24px;
  text-align: center;
  letter-spacing: 0.2px;
}

.swiper-pagination {
  bottom: -40px !important;
  width: 47px;
  height: 5px;
  margin: 0 auto;
  text-align: center;
}

.swiper-pagination-bullet {
  width: 5px;
  height: 5px;
  margin: 0 8px !important;
  background-color: #5A7184;
}

.stories {
  padding-top: 53px;
  padding-bottom: 70px;
}

.stories__line {
  border-top: 1px solid #E5EAF4;
  max-width: 90%;
  margin: 0 auto;
}

.stories-wrapper {
  display: flex;
  justify-content: space-between;
  padding: 0 65px;
  padding-top: 120px;
}

.stories__label {
  margin-bottom: 28px;
}

.stories__title {
  max-width: 337px;
  margin-bottom: 24px;
}

.stories__description {
  max-width: 392px;
  margin-bottom: 48px;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 36px;
  color: #5A7184;
}

.stories-slider {
  max-width: 662px;
  margin: 0;
}

.stories-slider__items {
  display: flex;
  align-items: center;
  padding-top: 10px;
}

.stories-slider__item:first-child {
  margin-right: 28px;
}

.stories-slider__image {
  width: 312px;
  height: 317px;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  overflow: hidden;
}

.stories-slider__exposition {
  transform: translate(10px, -23px);
  z-index: 99;
  width: 312px;
  max-height: 178px;
  padding: 20px;
  background: #FAFDFF;
}

.stories-slider__text {
  max-width: 260px;
  margin: 0;
  margin-bottom: 18px;
  font-family: 'HKGrotesk-Medium';
  font-style: normal;
  font-weight: 500;
  font-size: 22px;
  line-height: 32px;
  letter-spacing: 0.2px;
}

.stories-slider__link {
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 22px;
  text-decoration: none;
  color: #1565D8;
}

.stories-slider__buttons {
  display: flex;
  justify-content: space-between;
  width: 130px;
}

.stories-slider__button {
  width: 54px;
  height: 56px;
  padding: 0;
  margin: 0;
  border: none;
  background: transparent;
  cursor: pointer;
}

.stories-slider__button--prev {
  background: url(../img/arrow-prev.svg) no-repeat;
  background-position: center center;
  background-size: contain;
}

.stories-slider__button--prev:active, .stories-slider__button--prev:focus {
  background: url(../img/arrow-prev-active.svg) no-repeat;
  background-position: center center;
  background-size: contain;
}

.stories-slider__button--next {
  background: url(../img/arrow-next.svg) no-repeat;
  background-position: center center;
  background-size: contain;
}

.stories-slider__button--next:active, .stories-slider__button--next:focus {
  background: url(../img/arrow-next-active.svg) no-repeat;
  background-position: center center;
  background-size: contain;
}

@media (max-width: 1200px) {
  .container {
    max-width: 1170px;
  }
  .collection-wrapper {
    flex-direction: column;
    align-items: center;
    padding: 0 48px;
  }
  .collection__description {
    max-width: 672px;
  }
  .collection__text {
    margin-left: 0;
  }
  .collection__title {
    margin-top: 40px;
  }
  .trends__content--active {
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-areas: "Minimalist Luxury Full" "Pinky Holiday Swaggie" "Red Last .";
  }
  .stories-wrapper {
    flex-direction: column;
    align-items: center;
  }
  .stories-left {
    text-align: center;
  }
  .stories__title {
    max-width: 100%;
  }
  .stories__description {
    max-width: 568px;
  }
  .stories-slider__buttons {
    margin: 0 auto;
    margin-bottom: 36px;
  }
}

@media (max-width: 992px) {
  .container {
    max-width: 960px;
  }
  .navbar-menu {
    width: 406px;
  }
  .navbar__button {
    margin-left: 20px;
  }
  .reviews-slider {
    max-width: 700px;
  }
  .trends__content--active {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    grid-template-areas: "Minimalist Luxury" "Full Pinky" "Holiday Swaggie" "Red Last";
  }
}

@media (max-width: 768px) {
  .container {
    max-width: 728px;
  }
  body {
    padding-top: 67px;
  }
  .navbar {
    padding: 26px 60px 18px 60px;
  }
  .navbar__mobile_fixed {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 99;
    background-color: #fff;
  }
  .navbar-wrapper {
    display: none;
    position: fixed;
    right: 0;
    top: 10px;
    margin: 0 8px;
    width: 304px;
    height: 322px;
    z-index: 99;
    background-color: #fff;
  }
  .navbar-wrapper_mobile {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 36px 24px 16px 24px;
  }
  .navbar-menu {
    display: flex;
    flex-direction: column;
    align-items: start;
    width: 100%;
    margin: 0;
  }
  .navbar-menu__item {
    margin-bottom: 20px;
  }
  .navbar__button {
    align-self: start;
    margin-left: 0;
    width: 256px;
  }
  .menu-button {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    width: 22px;
    height: 18px;
    padding: 0;
    border: none;
    background-color: transparent;
    cursor: pointer;
    z-index: 99;
  }
  .menu-button__line {
    width: 22px;
    height: 2px;
    background-color: #183B56;
  }
  .hero {
    padding-top: 34px;
    padding-bottom: 40px;
  }
  .hero-wrapper {
    background: url(../img/hero-bg--tablet.jpg) no-repeat;
    padding: 38px 0 36px 28px;
    background-position: 60% center;
    background-size: cover;
    border-radius: 0;
  }
  .hero__label {
    margin-bottom: 24px;
  }
  .hero__title {
    margin-bottom: 20px;
    font-size: 48px;
    line-height: 60px;
  }
  .hero__description {
    max-width: 400px;
    margin-bottom: 37px;
    font-size: 18px;
    line-height: 32px;
  }
  .hero__button {
    margin-bottom: 41px;
  }
  .hero__item {
    margin-right: 21px;
  }
  .collection {
    padding-top: 40px;
    padding-bottom: 40px;
  }
  .collection-wrapper {
    padding: 0 28px;
  }
  .collection__description {
    margin-bottom: 24px;
  }
  .trends {
    padding-top: 40px;
    padding-bottom: 40px;
  }
  .trends-wrapper {
    flex-direction: column;
    padding: 0;
    margin-bottom: 55.5px;
  }
  .trends__title {
    margin-bottom: 27.5px;
    font-size: 48px;
    line-height: 60px;
    text-align: center;
  }
  .trends-tabs {
    margin: 0 auto;
  }
  .trends__content {
    padding: 0;
  }
  .trends__content--active {
    grid-column-gap: 48px;
    grid-row-gap: 48px;
  }
  .trends__card {
    width: 280px;
    margin: 0;
  }
  .trends__card:last-child {
    width: 280px;
  }
  .trends__card:nth-child(odd) {
    justify-self: end;
  }
  .trends__card:nth-child(even) {
    justify-self: start;
  }
  .trends__image {
    width: 280px;
  }
  .reviews {
    padding-top: 41px;
    padding-bottom: 40px;
  }
  .reviews-slider {
    max-width: 630px;
  }
  .swiper-pagination {
    bottom: -25px !important;
  }
  .stories__line {
    width: 100%;
  }
  .stories-wrapper {
    padding: 0;
    padding-top: 78px;
    padding-bottom: 40px;
  }
  .stories__label {
    margin-bottom: 24px;
  }
  .stories__title {
    margin-bottom: 16px;
  }
  .stories__description {
    margin-bottom: 32px;
  }
  .stories-slider {
    max-width: 682px;
  }
  .stories-slider__image {
    width: 322px;
  }
  .stories-slider__exposition {
    width: 322px;
  }
  .stories-slider__items {
    padding-top: 0;
    justify-content: center;
  }
  .stories-slider__item {
    width: 332px;
    height: 475px;
  }
}

@media (max-width: 700px) {
  .collection__gallery {
    flex-direction: column;
  }
  .collection__image {
    max-height: 150px;
    width: 50%;
  }
  .collection__image:last-child {
    margin-left: 20px;
  }
  .collection__image--big {
    width: 100%;
    max-width: 100%;
    max-height: 300px;
    margin-right: 0;
    margin-bottom: 20px;
  }
  .collection__images {
    flex-direction: row;
  }
  .trends__card {
    width: 200px;
    margin: 0;
  }
  .trends__card:last-child {
    width: 200px;
    height: 270px;
  }
  .trends__image {
    width: 200px;
    height: 270px;
  }
  .trends__plus {
    width: 25px;
    height: 32px;
    margin-top: 70px;
    margin-bottom: 15px;
  }
  .stories-wrapper {
    max-width: 500px;
    margin: 0 auto;
  }
  .stories-slider {
    max-width: 500px;
  }
  .stories-slider__items {
    flex-direction: column;
    margin: 0;
  }
  .stories-slider__item:first-child {
    margin-right: 0;
    margin-bottom: 24px;
  }
}

@media (max-width: 576px) {
  .logo {
    width: 89px;
  }
  .header {
    padding-bottom: 21px;
  }
  .navbar {
    padding: 18px 24px 18px 24px;
  }
  .hero {
    padding-top: 0px;
    padding-bottom: 0px;
  }
  .hero-wrapper {
    padding-top: 40px;
    border-radius: 0;
  }
  .hero__title {
    font-size: 32px;
    line-height: 40px;
  }
  .hero__description {
    margin-bottom: 24px;
    font-size: 16px;
    line-height: 28px;
  }
  .hero__items {
    justify-content: center;
  }
  .hero__item {
    margin-bottom: 16px;
  }
  .collection {
    padding-top: 64px;
    padding-bottom: 55px;
  }
  .collection__title {
    margin-top: 36px;
    margin-bottom: 20px;
    font-size: 28px;
    line-height: 36px;
    text-align: center;
  }
  .collection__description {
    font-size: 16px;
    line-height: 28px;
  }
  .trends {
    padding-top: 24px;
    padding-bottom: 24px;
  }
  .trends-wrapper {
    margin-bottom: 36px;
  }
  .trends__title {
    font-size: 28px;
    line-height: 36px;
    margin-bottom: 24px;
  }
  .trends-tabs__item {
    font-size: 16px;
    line-height: 22px;
  }
  .trends__content--active {
    grid-column-gap: 24px;
    grid-row-gap: 24px;
  }
  .trends__card {
    width: 180px;
  }
  .trends__card:last-child {
    width: 180px;
    max-height: 250px;
  }
  .trends__image {
    max-width: 180px;
    max-height: 250px;
  }
  .trends__description {
    margin-bottom: 0;
    padding-left: 0px;
    font-size: 16px;
    line-height: 20px;
  }
  .trends__description--last {
    font-size: 17px;
  }
  .trends__price {
    margin-right: 9px;
    font-size: 14px;
    line-height: 24px;
  }
  .trends__icon {
    width: 14px;
    height: 24px;
  }
  .trends__plus {
    margin-top: 40px;
  }
  .reviews {
    padding-top: 24px;
    padding-bottom: 32px;
  }
  .reviews-slider {
    max-width: 500px;
  }
  .reviews-slider__quote {
    margin-bottom: 13px;
  }
  .reviews-slider__icon {
    width: 70px;
    height: 81px;
  }
  .reviews-slider__text {
    margin-bottom: 24px;
    font-size: 18px;
    line-height: 36px;
  }
  .stories-wrapper {
    padding-top: 48px;
    padding-top: 20px;
    margin: 0 auto;
  }
  .stories__label {
    padding: 2px 12px;
  }
  .stories__title {
    font-size: 28px;
    line-height: 36px;
  }
  .stories__description {
    font-size: 16px;
    line-height: 28px;
    margin-bottom: 36px;
  }
  .stories-slider {
    max-width: 280px;
  }
  .stories-slider__items {
    width: 280px;
    margin: 0 auto;
  }
  .stories-slider__item {
    width: 280px;
    height: 407px;
  }
  .stories-slider__image {
    width: 270px;
    height: 277px;
  }
  .stories-slider__exposition {
    padding: 20px 10px 20px 20px;
    width: 270px;
    max-height: 150px;
  }
  .stories-slider__text {
    font-size: 20px;
    line-height: 24px;
    margin-bottom: 16px;
  }
  .stories-slider__buttons {
    width: 112px;
    margin-bottom: 26px;
  }
  .stories-slider__button {
    width: 48px;
    height: 48px;
  }
}

@media (max-width: 400px) {
  body {
    padding-top: 67px;
  }
  .container {
    max-width: 290px;
  }
  .hero {
    background: url(../img/hero-bg--mobile.jpg) no-repeat;
    background-position: center center;
    background-size: cover;
  }
  .hero-wrapper {
    padding: 381px 8px 18px 8px;
    background: none;
    text-align: center;
  }
  .hero__label {
    margin-bottom: 20px;
    padding: 2px 26px;
  }
  .hero__title {
    margin-bottom: 20px;
  }
  .hero__description {
    margin-bottom: 24px;
    font-size: 16px;
    line-height: 28px;
  }
  .hero__button {
    padding: 13px 49px;
    margin-bottom: 22px;
    font-size: 16px;
    line-height: 22px;
    width: 257px;
  }
  .hero__items {
    width: 280px;
  }
  .hero__item {
    margin-right: 14px;
    margin-bottom: 18px;
  }
  .hero__icon {
    width: 24px;
    height: 24px;
  }
  .collection-wrapper {
    padding: 0;
  }
  .collection__image {
    width: 138px;
    max-height: 97px;
    border-radius: 3.36px;
  }
  .collection__image:last-child {
    margin-left: 14px;
  }
  .collection__image--big {
    width: 290px;
    max-height: 300px;
    margin-bottom: 14px;
  }
  .collection__text {
    text-align: center;
  }
  .collection__description {
    max-width: 280px;
    text-align: center;
    margin-bottom: 10px;
  }
  .collection__link {
    font-size: 14px;
    line-height: 20px;
  }
  .trends-tabs {
    width: 218px;
  }
  .trends__content--active {
    grid-column-gap: 10px;
    grid-row-gap: 20px;
  }
  .trends__card {
    width: 140px;
    height: 234px;
  }
  .trends__card:last-child {
    width: 140px;
    height: 170px;
  }
  .trends__image {
    margin-bottom: 13px;
    max-width: 140px;
    height: 170px;
    object-fit: cover;
  }
  .trends__buy {
    padding: 0;
    justify-content: start;
  }
  .reviews-slider {
    max-width: 280px;
  }
  .reviews-slider__name {
    max-width: 145px;
    margin: 0 auto;
  }
}
/*# sourceMappingURL=style.css.map */