.trends
  padding-top: 70px
  padding-bottom: 75px
  &-wrapper
    display: flex
    justify-content: space-between
    padding: 0 70px 48px 75px
    margin: 0
  &-tabs
    display: flex
    justify-content: space-between
    width: 285px
    list-style-type: none
    padding: 0
    &__item
      font-style: normal
      font-weight: normal
      font-size: 18px
      line-height: 25px
      color: $text-color
      cursor: pointer
      &:first-child
        margin-left: 0px
      &:hover
        color: $primary
      &--active
        font-style: normal
        font-weight: bold
        font-size: 18px
        line-height: 25px
        color: $primary
  &__content
    display: none
    padding: 0 70px 0 75px
    &--active
      display: grid
      grid-template-columns: 1fr 1fr 1fr 1fr
      grid-template-rows: 1fr 1fr
      grid-column-gap: 30px
      grid-row-gap: 50px
      grid-template-areas: "Minimalist Luxury Full Pinky" "Holiday Swaggie Red Last"
  &__card
    display: flex
    flex-direction: column
    margin: 0 auto
    max-width: 260px
    max-height: 441px
    &:nth-child(1)
      grid-area: Minimalist
    &:nth-child(2)
      grid-area: Luxury
    &:nth-child(3)
      grid-area: Full
    &:nth-child(4)
      grid-area: Pinky
    &:nth-child(5)
      grid-area: Holiday
    &:nth-child(6)
      grid-area: Swaggie
    &:nth-child(7)
      grid-area: Red
    &--last
      grid-area: Last
      display: flex
      flex-direction: column
      width: 260px
      max-height: 350px
      border-radius: 8px
      overflow: hidden
      background-color: $secondary
      text-align: center
  &__image
    max-width: 260px
    max-height: 350px
    margin-bottom: 20px
    border-radius: 8px
    overflow: hidden
  &__description
    padding-left: 10px
    margin-bottom: 3px
    font-family: 'HKGrotesk-Bold'
    font-style: normal
    font-weight: bold
    font-size: 24px
    line-height: 32px
    letter-spacing: 0.2px
    &--last
      padding-left: 0px
      margin-bottom: 0px
      text-align: center
      color: #fff
  &__buy
    display: flex
    justify-content: space-between
    align-items: center
    padding: 0 10px
  &__price
    font-style: normal
    font-weight: normal
    font-size: 20px
    line-height: 36px
    color: $text-color
  &__icon
    width: 23px
    height: 32px
    object-fit: contain
    &--last
      margin-top: 120px
      margin-bottom: 21px
      width: 28px
      height: 37px
      object-fit: contain
  &__link
    text-align: center
